body{
    background-color: hsl(212, 45%, 89%);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Outfit', sans-serif;
    padding: 3rem;
    
}
.container{
    width: 250px;
    height: 400px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 1rem;
    padding: 1rem;
    
}

.texto1{
    color:  hsl(218, 44%, 22%);
    
    font-weight: 700;
}
.texto2{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    font-weight: 400;
}

.img{
    width: 250px;
    height: 250px;
    border-radius: 1rem;
}